.overlay{
    background-color: red;
    height: 90%;
    width: 90%;
    position: fixed;
    top: 25px;
    left: auto;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.containOverlay{
box-sizing: border-box;
display: flex;
justify-content: center;
}

.closeButton{
    color: rgb(212, 209, 47);
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
}