.view-teams {
  position: relative;
  margin: auto;
  width: 90%;
  height: 90%;
  background: url("src/img/mobile/surbackground.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.team1 {
  flex: 3;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: repeat(auto, 1) / repeat(auto, 1);
  grid-template-areas:
    "B Z C"
    "T A t"
    "D Y E";
}

.field {
  flex: 1;
}

.team2 {
  flex: 3;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: repeat(auto, 1) / repeat(auto, 1);
  grid-template-areas:
    "J y K"
    "S G s"
    "H z I";
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team1 .position0 {
  grid-area: A;
}

.team1 .position1 {
  grid-area: B;
}

.team1 .position2 {
  grid-area: C;
}

.team1 .position3 {
  grid-area: D;
}

.team1 .position4 {
  grid-area: E;
}

.team2 .position0 {
  grid-area: G;
}

.team2 .position1 {
  grid-area: H;
}

.team2 .position2 {
  grid-area: I;
}

.team2 .position3 {
  grid-area: J;
}

.team2 .position4 {
  grid-area: K;
}

/* FOR PLAYERS CONTAINER */

.player-container {
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background: linear-gradient(
    180deg,
    rgb(46, 46, 46) 10%,
    rgb(20, 20, 20) 100%
  );
}

.player-avatar {
  width: 100%;
}

.player-container:hover {
  opacity: 85%;
}

.player-add {
  width: 30%;
}

.player-add:hover {
  opacity: 50%;
}

p.player-name {
  transform: translate(0, -10px);
  text-shadow: -0.1rem -0.1rem 0 var(--black-light-color);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0;
}
