.view-teams {
  background: url("src/img/mobile/surbackground.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--black-color);
}

.team1 {
  flex: 3;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: repeat(auto, 1) / repeat(auto, 1);
  grid-template-areas:
    "B Z C"
    "T A t"
    "D Y E";
}

.team1 .position0 {
  grid-area: A;
}

.team1 .position1 {
  grid-area: B;
}

.team1 .position2 {
  grid-area: C;
}

.team1 .position3 {
  grid-area: D;
}

.team1 .position4 {
  grid-area: E;
}

.field {
  flex: 1;
}

.team2 {
  flex: 3;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: repeat(auto, 1) / repeat(auto, 1);
  grid-template-areas:
    "J y K"
    "S G s"
    "H z I";
}

.team2 .position0 {
  grid-area: G;
}

.team2 .position1 {
  grid-area: H;
}

.team2 .position2 {
  grid-area: I;
}

.team2 .position3 {
  grid-area: J;
}

.team2 .position4 {
  grid-area: K;
}

.centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FOR PLAYERS CONTAINER */

.player-container {
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  background: linear-gradient(
    180deg,
    rgb(46, 46, 46) 10%,
    rgb(20, 20, 20) 100%
  );
}

.player-avatar {
  width: 100%;
}

.player-container:hover {
  opacity: 85%;
}

.player-add {
  width: 30%;
}

.player-add:hover {
  opacity: 50%;
}

.player-name {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--size-text);
  margin: 0;
}

/* PLAYERS-CARDS-CONTENT */
.background-players {
  height: 100%;
  height: 100%;
  width: auto;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.player-card-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: auto;
  gap: 0.6rem;
  width: 13rem;
}

.player-card-name h3 {
  color: var(--orange-light-color);
}
.player-card-age h3 {
  color: var(--orange-superlight-color);
}
.player-card-city h3 {
  color: var(--orange-dark-color);
}

@media screen and (min-width: 769px) {
  .view-teams {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-width: 80%;
    min-height: 80%;
  }

  .player-container {
    width: 8rem;
    height: 8rem;
  }

  .player-card-container {
    gap: 2rem;
    width: fit-content;
  }

  .player-name {
    font-size: 1.8rem;
  }

  .modal-players {
    position: fixed;
    height: 90rem;
    box-sizing: content-box;
    overflow: hidden;
  }
}
