/*Close-Buuton*/
.close-button {
  margin-left: auto;
  margin-right: auto;
  width: 4rem;
  /* filter: drop-shadow(0px 0px 2px var(--orange-dark-color));  */
  margin: auto;
}

.close-button:hover {
  filter: drop-shadow(0px 0px 3px var(--orange-dark-color));
}
