.Card-ViewPlayer {
  background-image: url("../../img/mobile/main-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.closeButton {
  display: flex;
  align-items: center;
  color: var(--white-color);
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  font-size: 4vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.Background-Players {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Background-Player1 {
  display: flex;
  background-color: #3131336c;
  border-radius: 30px;
  margin: auto;
  width: 50vh;
  height: 15vh;
  align-items: center;
}

.player-img {
  display: flex;
  margin-right: 5vh;
  margin-left: 1vh;
  width: 5rem;
  height: 5rem;
}

.player-CardText {
  width: 80%;
}

.player-All-Text-Name {
  display: flex;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.player-Name {
  padding-left: 5px;
}

.player-All-Text-Age {
  display: flex;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.player-Age {
  padding-left: 5px;
}

.player-All-Text-City {
  display: flex;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.player-City {
  padding-left: 5px;
}

.player-TitleName {
  color: var(--orange-light-color);
}

.player-TitleAge {
  color: var(--orange-superlight-color);
}

.player-TitleCity {
  color: var(--orange-dark-color);
}

.player-CardText {
  font-size: 0.7rem;
}
