.MuiStep-vertical {
  width: 100%;
  padding-top: 1rem;
}

.step-container {
  font-size: var(--size-h2);
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  margin: 0.6rem;
}

.stepper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.next:hover {
  background: var(--orange-light-color);
}

.submit:hover {
  background-color: var(--blue-color);
}

.match-ready {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: #4def80;
  color: var(--black-color);
}
