/* SECTION-CONTENT */
.add-match-page {
  width: 100vh;
  height: 100vh;
  background-color: var(--black-color);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* ADRESS-INPUT-PICKER */

.adress-input input {
  text-align: center;
  color: var(--white-color);
  font-size: var(--size-text);
  font-family: var(--font-text);
  background: none;
  border: none;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  padding-top: 4px;
}

/* TIME-PICKER-CONTENT */
input[type="time"] {
  text-align: center;
  border: none;
  color: var(--white-color);
  background: none;
  font-size: var(--size-text);
  font-family: var(--font-text);
  width: 100%;
  position: relative;
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  padding-top: 4px;
}

input[type="time"]::-webkit-clear-button {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
  position: absolute;
  width: 100%;
}

.step-container {
  display: flex;
  gap: 25px;
  margin: 9px;
}

.inline {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stepper {
  display: flex;
  gap: 15px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button {
  margin: 12px;
  background: rgba(49, 49, 51, 0.5);
  color: var(--white-color);
  font-family: var(--font-text);
  line-height: 20px;
  min-width: 12vh;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.next:hover {
  background: var(--orange-light-color);
}

.submit:hover {
  background-color: var(--blue-color);
}

.match-ready {
  padding: 10px;
  background-color: var(--orange-light-color);
}
