.MuiStep-vertical {
  width: 100%;
}

.step-container {
  font-size: var(--size-h2);
  text-transform: uppercase;
  display: flex;
  gap: 1rem;
  margin: 0.6rem;
}

.stepper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.button {
  margin: 2rem 0 0 0;
  background: rgba(49, 49, 51, 0.5);
  color: var(--white-color);
  font-family: var(--font-text);
  font-size: var(--size-text-search);
  line-height: auto;
  padding: 0.4rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.next:hover {
  background: var(--orange-light-color);
}

.submit:hover {
  background-color: var(--blue-color);
}

.match-ready {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: #4def80;
  color: var(--black-color);
}

@media screen and (min-width: 769px) {
  .MuiStep-vertical {
    padding-top: 2rem;
  }
}
