/* INIT CONTENT */
.index-page {
  background: url("../img/mobile/index-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  background-size: contain;
  position: relative;
}

/* BUTTON CONTENT */
.index-button {
  position: absolute;
  bottom: var(--spacing-3);
  transform: rotate(90deg);
}
