/* INIT CONTENT */
.match-page {
  background: url("../img/mobile/main-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  gap: 20px;
}

/* CARDS-CONTAINER-CONTENT */
.cards-container {
  flex: 1;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

/* ADD-MATCH-BUTTON */
.add-match-button {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-4);
  min-width: 12vh;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-match-button:hover {
  opacity: 0.8;
  cursor: crosshair;
}

.add-match-button p {
  font-family: var(--font-title);
  font-size: var(--size-text-button);
  margin: 1vh 2vh;
}
