/* FONTS-CONTENT */
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Russo+One&family=Zilla+Slab+Highlight:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLE-CONTENT */
:root {
  --black-color: #161616;
  --black-light-color: #313133;
  --black-light-color-semi-transparent: #313133b9;
  --grey-color: #929292;
  --white-color: #ffffff;
  --orange-light-color: #ef7f4d;
  --orange-dark-color: #e47041;
  --orange-superlight-color: #ea945a;
  --blue-color: #006bb8;
  --red-color: #ee104a;

  --spacing: 1vh;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);

  --size-h1: 3vmin;
  --size-h2: 1.2rem;
  --size-text: 0.8rem;
  --size-text-search: 0.8rem;
  --size-text-button: 1.2rem;

  --font-title: "Russo One", sans-serif;
  --font-text: "Aldrich", sans-serif;
  --font-typed: "Zilla Slab Highlight", cursive;
}

@media screen and (min-width: 740px) {
  :root {
    --size-h2: 1.8rem;
    --size-text: 1.1rem;
    --size-text-search: 1.5rem;
    --size-text-button: 1.8rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/* DEFAULT-CSS */
body {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--font-text);
  font-size: var(--size-text);
  line-height: 1rem;
  scrollbar-width: none;
}

/* SECTION-CONTENT */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

/* LOGO-CONTENT */
.logo-container {
  margin-top: var(--spacing-3);
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 6rem;
}

/* COLORS-TEXT-CONTENT */
.grey {
  color: var(--grey-color);
}

/* SET-INLINE-CONTENT */
.inline {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

/* ICONS-CONTENT */
.icons {
  width: 1.2rem;
  padding-bottom: 0.3rem;
}

@media screen and (min-width: 740px) {
  .icons {
    width: 1.5rem;
  }
}

/* SNAP-PAGE-CONTENT */
.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* BORDER-STYLED-CONTENT */
.borders-styled {
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  padding-top: 0.3rem;
}

.select {
  text-align: center;
  font-family: var(--font-text);
  color: var(--white-color);
  font-size: var(--size-text-search);
  line-height: auto;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:active,
:focus {
  outline: none;
  box-shadow: none;
}

/* BACKGROUND-CONTAINER-CONTENT */
.background-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.004) 100%
  );
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  overflow-y: scroll;
}

/* MODAL-BACKGROUND-CONTENT */

@keyframes zoom {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.modal-background {
  animation-name: zoom;
  animation-duration: 0.2s;
  z-index: 2;
  backdrop-filter: blur(0.6rem);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: var(--black-color);
  margin: auto;
  width: auto;
  height: auto;
  padding: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

/* BUTTONS CONTENT */
.button {
  margin: 2rem 0 0 0;
  background: rgba(49, 49, 51, 0.5);
  color: var(--white-color);
  font-family: var(--font-text);
  font-size: var(--size-text-search);
  line-height: auto;
  padding: 0.4rem;
  padding-top: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 740px) {
  .modal-container {
    padding: 2rem;
    margin: 0;
    height: 95%;
  }
}
