/* FONTS-CONTENT */
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Russo+One&family=Zilla+Slab+Highlight:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLE-CONTENT */
:root {
  --black-color: #161616;
  --black-light-color: #313133;
  --black-light-color-semi-transparent: #313133b9;
  --grey-color: #929292;
  --white-color: #ffffff;
  --orange-light-color: #ef7f4d;
  --orange-dark-color: #e47041;
  --orange-superlight-color: #ea945a;
  --blue-color: #006bb8;
  --red-color: #ee104a;

  --spacing: 1vh;
  --spacing-2: calc(var(--spacing) * 2);
  --spacing-3: calc(var(--spacing) * 3);
  --spacing-4: calc(var(--spacing) * 4);

  --size-h1: 3vmin;
  --size-h2: 1.8rem;
  --size-text: 1rem;
  --size-text-button: 2rem;

  --font-title: "Russo One", sans-serif;
  --font-text: "Aldrich", sans-serif;
  --font-typed: "Zilla Slab Highlight", cursive;
}
/* DEFAULT-CSS */
body {
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: var(--font-text);
  font-size: var(--size-text);
  line-height: 20px;
  scrollbar-width: none;
}

/* SECTION-CONTENT */

section {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}

/* LOGO-CONTENT */
.logo-container {
  margin-top: var(--spacing-3);
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 10vmax;
  min-width: 13%;
}

.grey {
  color: var(--grey-color);
}

.inline {
  display: flex;
  gap: 0.5rem;
}

/* ICONS-CONTENT */

.icons {
  width: 1.4rem;
}

/* SNAP-PAGE-CONTENT */

.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

/* BORDER-STYLED-CONTENT */

.borders-styled {
  border-bottom: 1px white solid;
  border-top: 1px white solid;
  padding-top: 4px;
}

/* DROPDOWN-MENU-CONTENT */
.select-dropdown {
  position: relative;
  display: flex;
  gap: 0.1rem;
  background-color: transparent;
  width: auto;
  max-width: 100%;
  padding-top: 4px;
}

.select {
  text-align: center;
  font-family: var(--font-text);
  color: var(--white-color);
  font-size: var(--size-text);
  line-height: 1rem;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:active,
:focus {
  outline: none;
  box-shadow: none;
}

/*Close-Buuton*/
.close-button {
  display: flex;
  width: 6vh;
  background: transparent;
  filter: drop-shadow(0px 0px 2px var(--orange-dark-color));
  border-style: none;
  margin: auto;
}

.close-button:hover {
  filter: drop-shadow(0px 0px 3px var(--orange-dark-color));
}

/* BACKGROUND-CONTAINER-CONTENT */
.background-container {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.004) 100%
  );
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
}
