.match-card {
  width: 316px;
  height: 163px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  scroll-snap-align: center;
}

.not-open:hover {
  opacity: 0.6;
  cursor: pointer;
}

.match-card .card-background {
  width: 128px;
}

.match-card .text {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
}
