.search-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.search-buttons {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 50px;
}

.search-buttons .inline {
  display: flex;
  align-items: center;
  gap: 10px;
}
